.mainbox {
    background-color: transparent;
    position: relative;
    height: 100vh;
  }
  
    .err {
      color: #b2cb77;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 9rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #b2cb77;
  }
  
   .err2 {
      color: #b2cb77;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 9rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  