
/*NAV*/

nav#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(248, 248, 248, 1);
    z-index: 999;
}

.sub-links {
    top: 0;
}


/*NAVSCROLL*/

nav.scroll {
    height: 70px;
    background-color: rgba(248, 248, 248, 0.9);
}

nav.scroll li a {
    color: #4A4A4A;;
}

/*SCROLL BAR*/

.scroll_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

#scroll_indicator {
    background-color: rgba(61, 127, 227, 1);
    height: 100%;
    width: 0%;

}

/*HERO*/

section.hero-article {
    /*height: 80vh;*/
    background-color: #3D7FE3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 90px;
    padding-top: 100px;
    padding-bottom: 174px;

}

.hero-article h1 {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 80vw;
}



.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag#tag {
    width: auto;
    height: auto;
}

#tag p {
    font-size: 1.2em;
}

.dot#dot {
    background-color: white;
    height: 5px;
    width: 5px;
    margin: 0 10px;
}

#author p {
    color: white;
}

#author .date {
    color: hsla(0,0%,100%,.64);
}


@media screen and (max-width: 767px) {
    .hero-article h1 {
        font-size: 2em;
    }

    .tag p {
        font-size: 1.125em;
    }

    .author-credits p {
        font-size: 0.75em;
    }
}


/*HERO IMG*/

img.hero-img-article {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero-img-container {
    position: relative;
    top: -110px;
    max-height: 333px;
    max-width: 619px;
    margin-right: auto;
    margin-left: auto;
}

/*MAIN ARTICLE*/

section.main-article-page {
    margin-top: 20px;
    position: relative;
}

.container-main-article {
    position: relative;
}

.container-socials {
    justify-content: space-between;
    position: absolute;
    display: flex;
    width: 100%;
    position: sticky;
    top: 220px;
}

@media screen and (max-width: 767px) {
    .container-socials {
        display: none;
    }
}

  /*COLUMN SOCIALS*/

.socials-shares {
    display: flex;
    flex-direction: column;
}

.socials-shares-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .socials-shares-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
        height: 70px;
        padding: 0 10%;
        background-color: white;
        z-index: 2;
    }

    #fb, #twitter, #linkedin {
        margin-bottom: 0;
    }
}


.facebook, .twitter, .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    margin-bottom: 30px;
    
    
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in {
    color: black;
}

.facebook:hover {
    background-color: #3b5998;
    transform: scale(1.1);
}

.facebook:hover i {
    color: white;
}


.twitter:hover {
    background-color: #1DA1F2;
    transform: scale(1.1);
}
.twitter:hover i {
    color: white;
}


.linkedin:hover {
    background-color: #0072b1;
    transform: scale(1.1);
}
.linkedin:hover i {
    color: white;
}

  /*COLUMN ARTICLE*/

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-5%);
}



article p {
    line-height: 2.5em;
    font-size: 1.125em;
}

.first-p {
    margin-top: 50px;
}

article h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 50px 0 60px 0;
    max-width: 80%;
}

@media screen and (max-width: 767px) {
    article {
        transform: translateY(0);
        margin-bottom: 100px;
    }

    article h2 {
        font-size: 1.75em;
    }
}

  /*COLUMN RST-BOOK*/  

#rst-book {
    width: 250px;
    padding: 20px 20px 10px 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#rst-book h4 {
    font-size: 1em;
    font-weight: 500;
    text-align: start;
    line-height: 25px;
}

#rst-book a {
    margin-top: 10px;
    text-decoration: none;
    background-color: #1454c0;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out all;
}

#rst-book a:hover {
    background-color: #1453c0b0;
}


@media screen and (max-width: 991px) {
    #rst-book {
        display: none;
    }
}





/*ARTICLES RECENTS*/

section.article-recent {
    margin-bottom: 75px;
}

.article-recent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4A4A4A;
    padding-bottom: 5px;
}

.article-content {
    display: inline-block;
    max-width: 49%;
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
    transition: 0.2s ease-in-out all;
}

.article-content:hover {
    transform: scale(1.03);
    border-radius: 15px;
    box-shadow: 0 0 72px 36px rgb(0 0 0 / 8%);
}

.article-content h2 {
    color: #4A4A4A;
}

.tag-recent {
    background-color: #3D7FE3;
    padding: 5px 20px;
}

.tag-recent p {
    color: white;
    font-size: 0.875em;
}

.dot-recent {
    height: 3px;
    width: 3px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: black;

}

.date-recent {
    color: black;
}

.main-description {
    margin-top: 20px;
}

.main-description p {
    color: #4A4A4A;
}

.author-recent {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.author-recent p#recent {
    font-size: 0.875em;
    margin-left: 15px;
    color: rgb(74, 74, 74);
}

.article-content-img {
    width: 100%;
    max-height: 413px;
    margin-bottom: 20px;
}

#article-content-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}





@media screen and (max-width: 767px) {
    .article-content {
        display: block;
        max-width: 80%;
        margin: 15px auto 15px auto;
    }

    .container-article {
        display: flex;
        flex-direction: column;
    }
}